* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
}

section {
  padding: 80px 10%;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #2563eb, #020617);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
}

.hero span {
  color: #38bdf8;
}

.btn {
  background: #38bdf8;
  color: #020617;
  padding: 12px 30px;
  border-radius: 25px;
  margin-top: 20px;
  font-weight: bold;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin-left: 20px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skills-grid span {
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

/* PROJECTS */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* CONTACT */
.contact p {
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  section {
    padding: 60px 6%;
  }
}
